################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NotificationService/.vs/NotificationService
/NotificationService/NotificationService/bin/Debug/net8.0
/NotificationService/NotificationService/obj
